# Node modules
/frontend/node_modules/
/backend/node_modules/

# Zip files
*.zip

# Videos
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.xlsx
*.xls
# Credentials
credentials.json
/frontend/node_modules/credentials.json
/backend/node_modules/credentials.json
model_cache

*.sql
.env

token_1.json

# Exclude all images except those in assets/images/
!assets/images/